body{
    background-color: rgb(43, 43, 43);
}

#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: 'consolas', monospace;
    font-size: 100px;
    color: white;
}

#resetBtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
}